<div class="container">
    <div class="jumbotron text-center">
        <h1>Minesweeper</h1>
    </div>
    <div class="game-container">
        <div class="left-panel">
            <h4>Chosse you game option:</h4>
            <div class="custom-control custom-radio">
                <input type="radio" ng-change="changeGame(game.difficulty)" ng-model="game.difficulty" value="beg" class="custom-control-input" id="beginner">
                <label class="custom-control-label" for="beginner">Beginner</label>
            </div>
            <div class="custom-control custom-radio">
                <input type="radio" ng-change="changeGame(game.difficulty)" ng-model="game.difficulty" value="inter" class="custom-control-input" id="intermediate">
                <label class="custom-control-label" for="intermediate">Intermediate</label>
            </div>
            <div class="custom-control custom-radio">
                <input type="radio" ng-change="changeGame(game.difficulty)" ng-model="game.difficulty" value="exp" class="custom-control-input" id="expert">
                <label class="custom-control-label" for="expert">Expert</label>
            </div>
        </div>
        <div class="right-panel">
            <div class="grid-container">
                <div class="topContainer">
                    <div class="clockContainer left">
                        <img class="clockImage" width="24" height="36" src="{{leftc}}" />
                        <img class="clockImage" width="24" height="36" src="{{leftd}}" />
                        <img class="clockImage" width="24" height="36" src="{{leftu}}" />
                    </div>
                    <img ng-click="clickFace()" width="36" height="36" src="{{face.src}}" />
                    <div class="clockContainer right">
                        <img class="clockImage" width="24" height="36" src="{{rightc}}" />
                        <img class="clockImage" width="24" height="36" src="{{rightd}}" />
                        <img class="clockImage" width="24" height="36" src="{{rightu}}" />
                    </div>
                </div>
                <table>
                    <tbody class="table">
                        <tr ng-repeat="row in rows track by $index">
                            <td ng-repeat="cell in row track by $index">
                                <img ng-click="clickCell(cell)" ng-right-click="rightClickCell(cell)" ng-mousedown="touchFace(cell)" ng-mouseup="untouchFace()" width="20" height="20" src="{{cell.src}}" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>