.container {
    width: 100%;
}

.game-container {
    width: 95%;
    height: 500px;
    margin: auto;
    background-color: #eee;
    border-radius: 5px;
}

.left-panel {
    position: relative;
    display: inline;
    float: left;
    width: 30%;
    height: 100%;
    padding: 5% 0 0 5%;
    font-size: 18px;
}

.custom-control.custom-radio {
    padding-top: 10px;
}

.right-panel {
    position: relative;
    display: inline;
    float: left;
    width: 70%;
    height: 100%;
    padding: 5% 0 0 5%;
}

.grid-container {
    width: 100%;
}

.topContainer {
    margin-left: auto!important;
    margin-right: auto!important;
    width: 223px;
    height: 60px;
    padding: 1%;
    border: 5px solid black;
}

.clockContainer {
    position: relative;
    display: inline;
    width: 72px;
    height: 36px;
}

.clockContainer.left {
    margin-right: 5%;
}

.clockContainer.right {
    margin-left: 3%;
}

.clockImage {
    margin: 0 -4px 0 0;
}

table {
    margin-top: 2%;
    margin-left: auto!important;
    margin-right: auto!important;
}

.table {
    border: 2px solid black;
    border-radius: 5px;
}

.table th,
.table td {
    border-top: 0!important;
}

td {
    width: 16px;
    height: 16px;
    padding: 0px!important;
}

div.empty {
    background-image: url('../assets/images/untouch.png');
    width: 16px;
    height: 16px;
}